* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

nav {
  height: 80px;
  background: #1c9703;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
  color: #b30505;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
}

nav a {
  text-decoration: none;
  color: #000;
  padding: 0 1.5rem;
}

nav a:hover {
  color: #b30505;
}

.hero {
  background: #b30505;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  padding: 0rem 7rem;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-left p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: #000;
  background: #1c9703;
  cursor: pointer;
  border-radius: 50px;
}

button:hover {
  background: #fff;
  color: #b30505;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.hero-image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}

h1{
  font-size: 2rem;
 }

h2{
  font-size: 2.5rem;
}
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-image img {
  animation: floatAnimation 2.5s ease-in-out infinite;
}
.social-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust spacing between buttons */
}

.social-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.facebook {
  background-color: #3b5998; /* Facebook color */
}

.twitter {
  background-color: #1da1f2; /* Twitter color */
}

.instagram {
  background-color: #e4405f; /* Instagram color */
}
.Roadmap {
  padding: 30px;
  text-align: justify;
}

/* Styling the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Styling the copyright text */
.copyright p {
  font-size: 14px;
  opacity: 0.8;
}

/* Adding some hover effect to the copyright text */
.copyright p:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}


/* Hiding the image initially */
img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  opacity: 1;
}

#fadeIn {
  opacity: 0;
}
html{
  scroll-behavior: smooth;
}
/* Add styles for the active link */
.active {
  color: #b30505; /* Change color to highlight the active link */
  font-weight: bold; /* Optionally, emphasize the active link */
  /* Add any other styles to make the active link stand out */
}





